.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.scrolling-text {
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}

.scrolling-text .scrolling-text-content {
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}

.para-scroll {
  background: linear-gradient(#dff345, #e1f548, #e5fa47, #e1f82f, #e2f83f, #e6fc44, #e1f73d);

}

@font-face {
  font-family: 'volreg';
  src: url('/public/Fonts/volreg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
.volreg {
  font-family: 'volreg';
}
@font-face {
  font-family: 'volmed';
  src: url('/public/Fonts/volmed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
.volmed {
  font-family: 'volmed';
}

.text-border {
  color: transparent;
  -webkit-text-stroke: 1px #141414; 
}

.roadMapIcon
{
background-color: #141414; 
}

.paraCol
{
background-color: #141414; 
}

/* .imojiVolcoin
{
  background-color: transparent;
  color: black;
} */

@media only screen and (min-width: 768px) {

.video-container {
  position: relative;
  height: 92vh; 
  width: 100vw;  
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
}