.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.scrolling-text {
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}

.scrolling-text .scrolling-text-content {
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}
E4FF1A
.para-scroll {
  background: linear-gradient(195deg, #e5fa47, #e5fa47, #E4FF1A, #E4FF1A, #e5fa47, #e5fa47,  #daec4b, #daec4b, #cddf46, #cddf46, #daec4b, #daec4b) ;
}
.para-scroll-two {
  background: linear-gradient(195deg, #daec4b, #e5fa47, #e5fa47, #E4FF1A,  #E4FF1A, #e5fa47,  #e5fa47, #daec4b, #daec4b, #cddf46, #cddf46, #daec4b);
}
.para-scroll-three {
  background: linear-gradient(195deg, #daec4b, #daec4b, #e5fa47,  #e5fa47, #E4FF1A, #E4FF1A,  #e5fa47, #e5fa47, #daec4b, #daec4b, #cddf46, #cddf46);
}
.para-scroll-four {
  background: linear-gradient(195deg, #cddf46,  #daec4b, #daec4b,  #e5fa47, #e5fa47,  #E4FF1A, #E4FF1A, #e5fa47, #e5fa47, #daec4b, #daec4b, #cddf46);
}
.para-scroll-five {
  background: linear-gradient(195deg, #cddf46,  #cddf46, #daec4b,  #daec4b, #e5fa47,  #e5fa47, #E4FF1A, #E4FF1A, #e5fa47, #e5fa47, #daec4b, #daec4b);
}
.para-scroll-six {
  background: linear-gradient(195deg, #daec4b,  #cddf46, #cddf46,  #daec4b, #daec4b,  #e5fa47, #e5fa47, #E4FF1A, #E4FF1A, #e5fa47, #e5fa47, #daec4b);
}

@font-face {
  font-family: 'volreg';
  src: url('/public/Fonts/volreg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
.volreg {
  font-family: 'volreg';
}
@font-face {
  font-family: 'volmed';
  src: url('/public/Fonts/volmed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
.volmed {
  font-family: 'volmed';
}

.text-border-white {
  color: transparent;
  -webkit-text-stroke: 1px white; 
}
.text-border {
  color: transparent;
  -webkit-text-stroke: 1px #141414; 
}

.text-normal {
  color: #141414;
  /* -webkit-text-stroke: 0px;  */
}

.text-style
{
  background: conic-gradient(from -12.68deg at 0% 0%, #E4FF1A -112.36deg, #E4FF1A 23.69deg, #A9FFF7 64.81deg, #E4FF1A 159.38deg, #A9FFF7 215.48deg, #E4FF1A 247.64deg, #E4FF1A 383.69deg);
color: transparent;
background-clip: text;
}

.uni-style
{
  /* color: conic-gradient(from -12.68deg at 0% 0%, #E4FF1A -112.36deg, #E4FF1A 23.69deg, #A9FFF7 64.81deg, #E4FF1A 159.38deg, #A9FFF7 215.48deg, #E4FF1A 247.64deg, #E4FF1A 383.69deg); */
  color: #E4FF5A;
}

.text-color
{
  color: #898988;
}
.candle-line
{
  background: linear-gradient(to bottom, white 25%, #898988 25%,  #898988 100%);
  /* background: #898988 */
}
.btn-style
{
  background: conic-gradient(from -12.68deg at 0% 0%, #E4FF1A -112.36deg, #E4FF1A 23.69deg, #A9FFF7 64.81deg, #E4FF1A 159.38deg, #A9FFF7 215.48deg, #E4FF1A 247.64deg, #E4FF1A 383.69deg);
border-radius: 6px;
}

.btn-simple
{
  color: #898988;
  border-color: #898988;
}

.roadMapIcon
{
background-color: #141414; 
}

.paraCol
{
background-color: #141414; 
}

.hero-line
{
  font-family: volreg;
font-size: 120px;
font-weight: 400;
line-height: 130px;
letter-spacing: -0.01em;
text-align: left;
}

.bg-candle
{
  background-color: #EEEEED;
}
 
@media screen and (min-width: 768px) {
  .ht-desk
  {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .ht-phone
  {
    height: 16rem;  }
}

.moving-text-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  
}

.moving-text {
  position: absolute;
  white-space: nowrap;
  animation: moveText 10s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.line-h-zero
{
  line-height: 100px;
}

.hero2
{
  position: absolute;
  width: 121.04px;
  height: 165.55px;
  left: 1101.15px;
  top: 208.08px;


/* Gradients/Gradient_1 */

background: conic-gradient(from -12.68deg at 0% 0%, #E4FF1A -112.36deg, #E4FF1A 23.69deg, #A9FFF7 64.81deg, #E4FF1A 159.38deg, #A9FFF7 215.48deg, #E4FF1A 247.64deg, #E4FF1A 383.69deg);
opacity: 0.25;
filter: blur(100px);
transform: rotate(3.31deg);
}

.hero1
{
  position: absolute;
  width: 246.93px;
  height: 233.01px;
  left: 872.93px;
  top: 55px;
  
  
  /* Base/Black */
  
  background: #141414;
  filter: blur(50px);
  transform: rotate(10.58deg);
}