@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: volmed;
  src: url("/public/volmed.ttf");
}
@font-face {
  font-family: volreg;
  src: url("/public/volreg.ttf");
}

.volmed {
  font-family: volmed;
}
.volreg {
  font-family: volreg;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


